*{
    padding: 0;
    margin:0;
}
#nav {
   float: inline-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:aqua
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color:white;
  }
body{
    height:150vh;
    background:linear-gradient(
        aqua,
        wheat
    ) 100% no-repeat ;
    background-size:100%  ;
    background-attachment: fixed;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display:inline-block;
    margin: 0 50px;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #black;
    font-family: "Indie Flower", cursive;
}

img  {
    width: 320px;    
}

.bottom {
    padding-top: 30px;
}

.butn {
    background:deeppink;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
    cursor: pointer;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(15deg);
    }
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
    background: #aef5dc;
}
.card{
	height: 465px;
	width: 435px;
	padding: 35px 35px;
	background: #f5bbfe;
	border-radius: 20px;
    border-style: groove;
	margin: 100px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
h5{
	color: black;
	font-size: 25px;
	
}
img{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}
img{
    width: 300px;
    height: 320px;
    position: relative;
    
}

    
p.copyright {
    color: rgb(13, 12, 12);
    line-height: 40px;
    font-size: 20px;
    padding: 15px;
    padding-left:5%;
}
.contact{
    align-items: center;
    padding: 50px;
    
}

form{
    text-align: center;
    padding: 60px;

}
    
    
